<h2>Homepage</h2>

<%= link_to "Add a link", new_link_path %>

<%= will_paginate @links %>

<ul>
  <% @links.each do |x| %>
    <li><%= link_to "+", votes_path(:vote => {:link_id => x.id, :up => true}), :method => :post %> / <%= link_to "-", votes_path(:vote => {:link_id => x.id, :up => false}), :method => :post %> | Vote count: <%= x.votes.where(up: true).count - x.votes.where(up: false).count %> | <%= link_to x.title, x.url %> | <%= link_to "comments", x %> </li>
  <% end %>
</ul>

